h1 {
    width: 550px;
    text-align: center;
}
p {
    width: 550px;
    text-align: justify;
}

.color_right {
    background-color: seagreen;
}
.color_not_right {
    background-color: red;
}
td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

#vin {
    color: green ;
    font: 20px bold serif;
}
#fail {
    color: red;
}