h1 {
  text-align: center;
  width: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-left: 0;
}
li {
  margin-left: 5px;
}
.now_day {
  background: orange;
  font-weight: bold;
  padding: 0 5px;
}
span {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
#top {
  font-weight: bold;
}